In [1]:
import pandas as pd

In [23]:
tr = pd.read_csv('dataset/train.csv')
tr.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [24]:
# one hot encoding function

In [25]:
def one_hot_encoding(dataframe, feature):
    """Accetps a dataframe and returns the dataframe with feature one_hot_encoded"""
    financial_institution_dict = {name: value for value, name in enumerate(set(list(dataframe[feature])))} 
    dataframe[feature] = dataframe[feature].map(financial_institution_dict)
    # tr['financial_institution']
    # financial_institution_dict
    ohe = pd.get_dummies(dataframe[feature])
    dataframe = dataframe.drop(feature, axis=1)
    dataframe = dataframe.join(ohe)
    
    return dataframe

In [26]:

tr = one_hot_encoding(tr, 'financial_institution')
tr.head()

,loan_id,source,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,...,9,10,11,12,13,14,15,16,17,18
0,268055008619,Z,4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,...,0,0,0,0,0,0,0,0,0,0
1,672831657627,Y,4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,...,0,0,0,0,0,0,0,0,0,0
2,742515242108,Z,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,...,0,0,0,0,0,0,0,0,0,0
3,601385667462,X,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,...,0,0,0,0,0,0,0,1,0,0
4,273870029961,X,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,...,0,0,0,0,0,0,0,1,0,0